@*

*@
@{
    ViewBag.Title = "Dashboard | Employee";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
    ViewBag.Heading = "Employees";
}

<!-- Employee List Content -->
<div id="content-area">
    <table class="table table-striped" id="table-employees">
        <thead>
            <tr>
                <th scope="col">No.</th>
                <th scope="col">NIK</th>
                <th scope="col">Full Name</th>
                <th scope="col">Gender</th>
                <th scope="col">Birth Date</th>
                <th scope="col">Hiring Date</th>
                <th scope="col">Email</th>
                <th scope="col">Phone Number</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody id="pokemon-list-tbody">
        </tbody>
    </table>
</div>

<!-- Modal : Create Employee -->
<div class="modal fade" id="modal-create" tabindex="-1" aria-labelledby="modal-create" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Create New Employee</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <div class="row">
                            <div class="col">
                                <input type="text" id="input-firstname" class="form-control" placeholder="FIRST NAME" aria-label="First name">
                            </div>
                            <div class="col">
                                <input type="text" id="input-lastname" class="form-control" placeholder="LAST NAME" aria-label="Last name">
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="input-birthdate" class="form-label">BIRTHDATE</label>
                        <input type="date" class="form-control" id="input-birthdate" placeholder="BIRTHDATE">
                    </div>
                    <div class="mb-3">
                        <select class="form-select form-select-sm" aria-label=".form-select-sm example" id="select-gender">
                            <option>Select Gender</option>
                            <option value="0">Male</option>
                            <option value="1">Female</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="input-hiring-date" class="form-label">HIRING DATE</label>
                        <input type="date" class="form-control" id="input-hiring-date" placeholder="HIRING DATE">
                    </div>
                    <div class="mb-3">
                        <input type="email" class="form-control" id="input-email" placeholder="EMAIL ADDRESS">
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control" id="input-phone-number" placeholder="PHONE NUMBER">
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control" id="input-major" placeholder="MAJOR">
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control" id="input-degree" placeholder="DEGREE">
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control" id="input-gpa" placeholder="GPA">
                    </div>
                    <div class="mb-3">
                        <div class="row">
                            <div class="col">
                                <input type="text" id="input-university-name" class="form-control" placeholder="UNIVERSITY NAME" aria-label="First name">
                            </div>
                            <div class="col">
                                <input type="text" id="input-university-code"class="form-control" placeholder="UNIVERSITY CODE" aria-label="Last name">
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <input type="password" id="input-password" class="form-control" placeholder="PASSWORD" aria-describedby="passwordHelpBlock">
                        <div id="passwordHelpBlock" class="form-text">
                            Your password must be 8-20 characters long, contain letters and numbers, and must not contain spaces, special characters, or emoji.
                        </div>
                    </div>
                    <div class="mb-3">
                        <input type="password" id="input-confirm-password" class="form-control" placeholder="CONFIRM PASSWORD" aria-describedby="passwordHelpBlock">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" id="button-create" class="btn btn-primary">Create</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal : Delete Confirmation -->
<div class="modal fade" id="modal-delete" tabindex="-1" aria-labelledby="modal-delete" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete Employee Data and Account</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <div class="row">
                        <div class="col">
                            <input type="text" id="input-firstname-delete" class="form-control" placeholder="FIRST NAME" aria-label="First name">
                        </div>
                        <div class="col">
                            <input type="text" id="input-lastname-delete" class="form-control" placeholder="LAST NAME" aria-label="Last name">
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <input type="email" class="form-control" id="input-email-delete" placeholder="EMAIL ADDRESS">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" id="button-delete-employee" class="btn btn-primary">Confirm Delete</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script type="module" src="~/js/EmployeePage.js" asp-append-version="true"></script>
}

